@model PurchaseDataModel

@if (!TempData.ContainsKey("IsOrderFresh"))
{
    <div class="jumbotron text-center">
        <h1 class="display-4">Thank you for shopping with us !</h1>
        <p class="lead">You will find a summary of your order below.</p>
        <p class="lead">If you wish to return to this summary and haven't yet registerd in our site - just bookmark this page.</p>
        <hr class="my-4">
    </div>


        var model = Model.Purchases;


        <partial name="_OrderProductsPartial" model="@Model.Purchases"></partial>

    <h3 class="text-center mt-5 mb-2">Shipping details</h3>
    <div class="row">

        <div class="col-6 form-group text-center mt-4">
            <label>First name</label>
            <input value="@Model.ShippingDetails.RecipientFirstName" class="form-control text-center disabled">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Last name</label>
            <input value="@Model.ShippingDetails.RecipientLastName" class="form-control text-center disabled">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Country</label>
            <input value="@Model.ShippingDetails.Country" class="form-control text-center placeholder-glow disabled">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>City</label>
            <input value="@Model.ShippingDetails.City" class="form-control text-center disabled">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Street</label>
            <input value="@Model.ShippingDetails.Street" class="form-control text-center disabled">
        </div>

        <div class="col-6 form-group text-center mt-4">
            <label>Postal Code</label>
            <input value="@Model.ShippingDetails.PostalCode" class="form-control text-center disabled">
        </div>

        <div class="col-12 form-group text-center mt-4">
            <label>Email Address</label>
            <input value="@Model.ShippingDetails.RecipientEmailAddress" class="form-control text-center disabled">
        </div>
    </div>
}





